@model ShineMvc.Models.VideoViewModel
<div class="row clearfix">
    <div class="col-md-8 left left2">
        <div class="row">
            <div class="col-md-12">
                <div class="video-block">
                    <div class="video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="embed-responsive-item" id="videoContainer"></div>
                        </div>
                    </div>

                    <h1>@Model.VideoTitle</h1>
                    <div style="line-height: 21px;">
                        <p>
                            @Model.VideoDescription
                        </p>
                        @if (Model.ShowNextVideoTeaserText)
                        {
                            <p class="c-left  c-font-bold">
                                Доступ к следующему видео откроется через 2 дня
                            </p>
                        }
                    </div>

                </div>
            </div>
        </div>


        @if (Model.ShowBookingBlockAfter.HasValue)
        {
            <div class="row">

                <div class="col-md-12">
                    <div class="c-content-box c-size-sm" id="purchase-block">

                        <div class="c-shop-banner-3">
                            <h2 class="c-title c-font-bold c-font-white"> Хочешь с нами в кругосветное путешествие?</h2>
                            <p class="c-desc c-font-16 c-font-white">37 мест уже забронировано</p>
                        </div>
                        <div class="purchase-btn-block">
                            <input type="button" data-toggle="modal" data-target="#booking-modal" class="btn btn-lg c-btn-yellow c-btn-uppercase c-btn-bold" value="Забронировать место">
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="col-md-4 right">
        @Html.Partial("_VideoPlaylist", Model.VideoPlayList)
    </div>
</div>
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">

            <div class="modal-body">
                <div id="bookingOk" style="display: none; text-align: center">
                    <div class="swal2-icon swal2-success swal2-animate-success-icon">
                        <div class="swal2-success-circular-line-left" style="background: rgb(255, 255, 255);"></div>
                        <span class="swal2-success-line-tip swal2-animate-success-line-tip"></span>
                        <span class="swal2-success-line-long swal2-animate-success-line-long"></span>
                        <div class="swal2-success-ring"></div>
                        <div class="swal2-success-fix" style="background: rgb(255, 255, 255);"></div>
                        <div class="swal2-success-circular-line-right" style="background: rgb(255, 255, 255);"></div>
                    </div>
                    <h3 class="c-font-25 c-font-bold" style="text-transform: none">Спасибо за заявку!</h3>
                    <h3 class="c-font-bold" style="text-transform: none">С вами свяжутся</h3>
                    <div style="text-align: center">
                        <button type="button" data-dismiss="modal" class="btn c-btn-green c-btn-bold c-btn-square">OK</button>
                    </div>
                </div>

                <div id="bookingNotOk" style="display: none; text-align: center">
                    <div class="swal2-icon swal2-error swal2-animate-error-icon">
                        <span class="swal2-x-mark swal2-animate-x-mark">
                            <span class="swal2-x-mark-line-left"></span>
                            <span class="swal2-x-mark-line-right"></span>
                        </span>
                    </div>
                    <h3 class="c-font-uppercase c-font-25 c-font-bold">Ошибка!</h3>
                    <h3 class="c-font-bold" style="text-transform: none">Попробуйте повторить позже</h3>
                    <div style="text-align: center">
                        <button type="button" data-dismiss="modal" class="btn c-btn-green c-btn-bold c-btn-square">OK</button>
                    </div>
                </div>
                <div id="bookingDiv" class="c-feedback">
                    <form id="booking-form" action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Имя" class="form-control" name="UserName" id="bookingUserName" minlength="2" required>
                        </div>
                        <div class="form-group">
                            <input placeholder="Телефон" data-inputmask="'alias': 'phone'" id="bookingPhone" class="form-control" type="text" name="Phone" required>
                        </div>
                        <div class="form-group">
                            <input placeholder="Email" id="bookingEmail" class="form-control" type="email" name="Email" required>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <button type="submit" class="btn c-btn-green c-btn-bold c-btn-square">Забронировать место</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/js")
    <script src="https://player.vimeo.com/api/player.js"></script>    
    <script>
        jQuery(document).ready(function() {
            Shine.init('@Model.VimeoUrl');
            $("#booking-form").validate({
                submitHandler: function(form) {
                    var formData = {
                        name: $("#bookingUserName").val(),
                        email: $("#bookingEmail").val(),
                        phone: $("#bookingPhone").val()
                    }
                    $.ajax({
                        data: JSON.stringify(formData),
                        type: 'post',
                        contentType: "application/json",
                        async: false,
                        dataType: 'json',
                        url: '/ContactUs/Booking',
                        success: function (response) {
                            if (response) {
                                $("#bookingDiv").hide();
                                $("#bookingOk").show();
                            } else {
                                $("#bookingNotOk").show();
                            }
                        }
                    });
                },
                errorPlacement: function(error, element) {},
                highlight: function(element, errorClass, validClass) {
                    $(element).parents("div.form-group").addClass("has-error");
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).parents(".error").removeClass("has-error");
                }
            });
        });
    </script>



}