@model ShineMvc.Models.VideoViewModel
<div class="row clearfix">
    <div class="col-md-8 left left2">
        <div class="row">
            <div class="col-md-12">
                <div class="video-block">
                    <div class="video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="embed-responsive-item" id="videoContainer"></div>
                        </div>
                    </div>

                    <h1>@Model.VideoTitle</h1>
                    <div style="line-height: 21px;">
                        <p>
                            @Html.Raw(Model.VideoDescription)
                        </p>
                        @if (Model.Index == 1)
                        {           
                            <p>Обязательно прочитайте мою историю в <a href="https://goo.gl/wTXx42">Facebook</a> </p>
                        }
                        @if (Model.ShowNextVideoTeaserText)
                        {
                            <p class="c-left  c-font-bold">
                                Доступ к следующему видео откроется через 2 дня
                            </p>
                        }
                    </div>

                </div>
            </div>
        </div>


        @if (Model.ShowBookingBlockAfter.HasValue)
        {
            <div class="row">

                <div class="col-md-12">
                    <div class="c-content-box c-size-sm" id="purchase-block">

                        <div class="c-shop-banner-3">
                            <h2 class="c-title c-font-bold c-font-white"> Хочешь с нами в кругосветное путешествие?</h2>
                            <p class="c-desc c-font-16 c-font-white">37 мест уже забронировано</p>
                        </div>
                        <div class="purchase-btn-block">
                            <input type="button" data-toggle="modal" data-target="#booking-modal" class="btn btn-lg c-btn-yellow c-btn-uppercase c-btn-bold" value="Забронировать место">
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="col-md-4 right">
        @Html.Partial("_VideoPlaylist", Model.VideoPlayList)
    </div>
</div>
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">

            <div class="modal-body">
                <div class="header-form callback">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">×</span></button>
                    <div class="header-form-title">
                        <b>Забронируй место <br>на путешествие</b>
                  
                       
                    </div>

                    <form id="booking-form" action="@Url.Action("Booking", "ContactUs")" method="POST">
                        <div class="header-form-item">
                            <div class="header-form-input">
                                <input type="text" autocomplete="off" name="Name" id="bookingUserName" required placeholder="Ваше имя">
                            </div>
                        </div>
                        <div class="header-form-item">
                            <div class="header-form-input">
                                <input type="text"  autocomplete="off"  data-inputmask="'alias': 'phone'" id="bookingPhone" name="Phone" required placeholder="Ваш телефон">
                            </div>
                        </div>

                        <div class="header-form-item">
                            <div class="header-form-input">
                                <input  id="bookingEmail"  autocomplete="off"  placeholder="Ваш email" type="email" name="Email" required>
                            </div>
                        </div>
                        <div class="header-form-item">

                        </div>
                        <div class="header-form-item">
                            <input type="submit" value="Забронировать" title="Забронировать место" class="btn btn-lg c-btn-green c-btn-bold c-btn-square">
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/js")
    <script src="https://player.vimeo.com/api/player.js"></script>    
    <script>
        jQuery(document).ready(function() {
            Shine.init('@Model.VimeoUrl');
            $("#booking-form").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {},
                highlight: function(element, errorClass, validClass) {
                    $(element).parents("div.header-form-input").addClass("has-error");
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).parents(".error").removeClass("has-error");
                }
            });
        });
    </script>



}