@model ShineMvc.Models.VideoViewModel

<div class="row clearfix">
    <div class="col-md-8 left left2">
        <div class="row">
            <div class="col-md-12">
                <div class="video-block">
                    <div class="video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="embed-responsive-item" id="videoContainer"></div>
                        </div>
                    </div>

                    <h1>@Model.VideoTitle</h1>
                    @Model.VideoDescription
                </div>
            </div>
        </div>


        @if (Model.ShowBookingBlockAfter.HasValue)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="c-content-box c-size-sm" id="purchase-block">

                        <div class="c-shop-banner-3">
                            <h2 class="c-title c-font-bold c-font-white"> Хочешь с нами в кругосветное путешествие?</h2>
                            <p class="c-desc c-font-16 c-font-white">37 мест уже забронировано</p>
                        </div>
                        <div class="purchase-btn-block">
                            <button type="button" class="btn btn-lg c-btn-yellow c-btn-uppercase c-btn-bold">Забронировать место</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="col-md-4 right">
        @Html.Partial("_VideoPlaylist", Model.VideoPlayList)
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/js")
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script>
        jQuery(document).ready(function () {
            Shine.init('@Model.VimeoUrl');
        });
    </script>

    @if (Model.ShowBookingBlockAfter.HasValue)
    {
        <script>
            jQuery(document).ready(function () {
                setTimeout(function () {
                    $("#bookingBlock").show();
                }, @(Model.ShowBookingBlockAfter.GetValueOrDefault(0)) * 1000);
            });
        </script>
    }


    <script type="text/javascript">
            (function (w, d) {
                w.amo_pixel_token = 'p1Ip4iB8yqaEyXU9HPmcTL5sQ0RYFMjQ5D+Kpr5QBxbyJAErqRr3fWC8LXHUkY9h';
                var s = document.createElement('script'), f = d.getElementsByTagName('script')[0];
                s.id = 'amo_pixel_js';
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://piper.amocrm.ru/pixel/js/tracker/pixel.js?token=' + w.amo_pixel_token;
                f.parentNode.insertBefore(s, f);
            })(window, document);
    </script>
}