<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" assets="ie=edge">
    <title>Shine! Путешествия #КРУГОСВЕТНОЕ</title>
    <meta name="description" assets="">
    <meta name="viewport" assets="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/fav/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/fav/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/assets/img/fav/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/img/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> 
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
        <div class="c-navbar">
            <div class="container-fluid">
                <!-- BEGIN: BRAND -->
                <div class="c-navbar-wrapper clearfix">
                    <div class="c-brand c-pull-left">
                        <a href="@Url.Action("Index","Home")" class="c-logo">
                            <h1>
                                <span class="c-font-bold">Shine! </span> | <span class="c-font-23"> Путешествия</span> <span class="c-font-thin c-font-26">#КРУГОСВЕТНОЕ</span>
                            </h1>
                        </a>
                    </div>
                    <!-- END: BRAND -->
                </div>
            </div>
        </div>
    </header>
    <div class="c-layout-page">
        <div class="container-fluid">
            <div class="c-assets-box c-size-md">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
